<!doctype html>
<html lang="en" ng-app = "chatAngular">
  <head>
    <meta charset="utf-8">
    <title>Chat angular</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="angular/angular.js"></script>
    <script src="angular/angular-route.js"></script>
    <script src = "angular/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="message/messageDirective.js"></script>
  </head>
  <body ng-controller = "chatCtrl">
    <form name = "inputName" novalidate class="simple-form">
      Your Name: <input type="text" ng-model="userName" /><br />
      <input type="submit" ng-click="submitNameClick(userName)" value="Submit" />
    </form>
    <h1 ng-show = "name" class = "ng-hide">Hello, {{name}}!</h1>
    <div ng-show = "name" class = "container col-xs-6 col-xs-offset-3 ng-hide" id = "chat">
      <div class="row" >
        <div class = "container-fluid" id = "messages">
          <div ng-repeat = "elem in messageList">
            <msg-dir ></msg-dir>
          </div>
        </div>
      </div>
      <div class="row" id = "inputMessForm">
        <textarea class = "col-xs-9" id = "redex" ng-model = "newText"></textarea>
        <button type="button" class="btn btn-primary col-xs-3" id = "button2" ng-click = "onSendMessClick(newText)">Confirm</button>
      </div>
    </div>
  </body>
</html>